{% extends "TSUserBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='bundles/tssiegecraft/js/siegecraft_game.js' filter='?yui_js'
        '@TSSiegeCraftBundle/Resources/public/js/game.js'
    %}
        <script src='{{ asset_url }}'></script>
    {% endjavascripts %}
{% endblock %}

{% block fos_user_content %}

<div class="row">
    <div class="span3">
        <ul id="resources" class="round-box">
            {% for resource, amount in player.resources %}
            <li class="resource resource-{{ resource }}">{{ amount }}</li>
            {% endfor %}
        </ul>
        <ul id="menu" class="nav nav-tabs nav-stacked">
        {% for tab in tabs %}
            <li class="{{ tab|lower }}"><a href="#">{{ tab }}</a></li>
        {% endfor %}
        </ul>
        <div class="copyright center-text">
            Tentacle Soft &copy; <script>document.write(new Date().getFullYear().toString());</script>
        </div>
    </div>
    <div class="span9">
        <div id="main" class="round-box"></div>
        <div id="info"></div>
    </div>
</div>

{% endblock %}